.dark-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #1a1f2e;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #3b4255;
  border-radius: 3px;
}